{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/posts.css' %}">

<nav class="navbar navbar-expand-lg navbar-light navbar-custom w-100">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand-logo" href="/home">
                    <img src="{% static 'image/bloglist_blocky_outline.svg' %}" alt="BlogList">
                    <span class="brand-name">Blog<span>List</span></span>
                </a>
            </li>
        </ul>
        <div>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/newpost">New Post</a>
                    <a class="dropdown-item" href="/mypost">My Posts</a>
                    <a class="dropdown-item" href="/signout">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="main-container">
    <h1 class="page-title">Create a New Post</h1>
    
    <form method="post" class="form-container">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="title">Post Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter your post title" required>
        </div>
        
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" rows="8" placeholder="Write your post content here..." required></textarea>
        </div>
        
        <button type="submit" class="btn-submit">Publish Post</button>
    </form>
</div>

{% endblock %}